.sprite{
    width: 500px;
    height: 500px;
    background: url(NNiceberg.png)
    0 0 no-repeat;
    animation: play 3s steps(19) infinite;

}

@keyframes play{
    0%{background-position: 0px;}
    100%{background-position: -9500px;}
}