h1{
    color: black;
font-weight: 300;
letter-spacing: 5px;
text-decoration: none;
padding: 100px 5px;
background-color:beige;
display: inline-block;
width: 100%;
text-align: center;
font-weight: 300;
}